/*!
 * Feuille de style pour la page Carte
 */

/* Elements de la carte */
body{
    background: whitesmoke;
}

.row{
    padding: 5px;
}

.contenu{
    margin : 2%;
}

.type{
    color:black;
    font-size: medium;
}

.ingredients{
    color: grey;
    font-size: small;
}

.prix{
    color: orange;
    font-size: large;
}


/* Entetes imagées */
.imgCarte{
    width : 100%;
    height : 250px;
    transition-property: height;
    transition-duration: 250ms;
}

.imgCarte:hover{
        height : 280px;
}


#salade{
    background:url( "../images/salade.jpeg") no-repeat center center local;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gateau{
    background:url( "../images/gateau.jpeg") no-repeat center center local;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bottle{
    background:url( "../images/bottle.jpg") no-repeat center center local;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cafe{
    background:url( "../images/cafe.jpg") no-repeat center center local;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#plat{
    background:url( "../images/plat.jpeg") no-repeat center center local;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#texteSalade{
    display : none;
}

#texteGateau{
    display : none;
}

#texteBottle{
    display : none;
}

#texteCafe{
    display : none;
}

#textePlat{
    display : none;
}

.texteCarte{
    background-color: white;
    color : white;
    padding: 30px;
    vertical-align: middle;
}

#categorie{
    color : white;
    font-size: 30px;
}

h4 {
    color: black;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 1em;
}

h1{
    padding-top: 1em;
    text-align: center;
    font-size: 72px;
    color : whitesmoke;
    text-shadow: 0px 2px 5px black;
    
    /*Ne pas pouvoir selectionner le texte de categorie */
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
      text-decoration: none; /* no underline */
}