/*!
 * Feuille de style principale
 */

#mapSection{
    margin-top: 4rem;
}

body{
    background: url("backgrounds/HDbackground.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bulleBlanche{
    background : white;
    padding: 30px;
    margin-top: 20px;
}

.shadow{
    /*Effets ombragés */
    -moz-box-shadow: 1px 2px 10px 0px #656565;
    -webkit-box-shadow: 1px 2px 10px 0px #656565;
     -o-box-shadow: 1px 2px 10px 0px #656565;
    box-shadow: 1px 2px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=153, Strength=10);
}

.carousel{
    width: 100%;
}

.carousel-item {
  /*taille du diaporama reglable ici */
  height: 30vh;
  
  min-height: 300px;
  background: no-repeat center center local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box{
    width : 53%;
    float : left;
}

#box1{
    height: 97%
}

#boxMer{
    height: 90%;
}

.boxSmall{
    width : 30%;
    float : left;
}

#CDSRATINGWIDGET682{
    width : 100%;
    background-color: white;
}

#CDSSCROLLINGRAVE.narrow{
    width : 100% !important;
}


#slide1 {
    /* Image utilisée */
    background-image: url("backgrounds/3.jpg");

    /* Classe parallax interne */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#slide2 {
    /* Image utilisée */
    background-image: url("backgrounds/2.jpg");

    /* Classe parallax interne */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

}

#slide3 {
    /* Image utilisée */
    background-image: url("backgrounds/4.jpg");

    /* Classe parallax interne */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#slide4 {
    /* Image utilisée */
    background-image: url("backgrounds/5.jpg");

    /* Classe parallax interne */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#pic{
  float: right;
    width: 44%;
    min-height: 500px;
    height: 65vh;
    margin: auto;
    background-image: url("https://images.pexels.com/photos/1098993/pexels-photo-1098993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 65%;
    -webkit-background-size: 65%;

}


.parallax { 
    /* Effet de defilement de l'image - applicable uniquement sur un objet avec background */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* couleur du slider du diaporama */
.carousel-indicators .active {
    background-color: white;
}

.carousel-indicators li{
    width:10px;
    height : 5px;
    border-radius: 10px;
}


.active{
    background-color: #e7e7e7;
}

.navbar {
    padding : 0px;
}

.nav-link{
    padding : 20px;
}

.sousBulleBlanche{
    width: 47%;
    display: block;
    float : left;
    margin-left : 20px;

}

#contactSection{
    height: 50%;
    margin-top: 50px;
}    

#footer{
    bottom : 0;
}

#imgEquipe{
    object-fit : cover;
    width: 100%;
    height : auto;
}

#TEL{
    margin-top : 70px;
}

#TEL span{
    font-family: glyphicon;
}

#adresse{
    padding-left: 20% 
}

#indImg1{
  object-fit: cover;
  width: 100%;
  height: 90%;
  margin-top: 20px;
}

#indImg2{
  object-fit: cover;
  width: 100%;
  height: 95%;
  margin-top: 20px;
}

#footer{
    bottom: 0;
}

#gmap_canvas{
    height:400px;
    width:680px; 
}

#gmap_canvas img{
    max-width:100%;
    background:none!important;
}

#map{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
}

#texteTrouver{
    margin-top:1%;
    margin-bottom:1%;
    text-align: left;
}

.imageresto{
    background:url( "../css/backgrounds/front.jpg") no-repeat center center local;
    width : 100%;
    height : 40vh;
    margin-bottom: 1%;
    margin-top : 1%;
    background-size: cover;
}

.imageplage{
    background: url( "../images/view.jpg") no-repeat center center local;
    width : 100%;
    height : 20vh;
    background-size: cover;
    background-attachment: fixed;
}

.imagerestoplage{

    background: url( "../images/restoplage.jpg") top;
    width : 100%;
    height : 20vh;
    margin-top: 2%;
    background-size: cover;
    background-attachment: fixed;
}

.footerP{
    font-family: "Times New Roman";
    color : whitesmoke;
    position: relative;
    top: -50%;
    transform: translateY(-50%);
}


#ul_addr{
   list-style-type:none;
    padding:5px;
    margin:5px;
}

ul_addr li{
    margin-top: 5vh;
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-left:14px;

}

#address{
    float: left;
    display:block;
    
}

.btneng{
}

.imgeng{
   position: absolute;
   left : 10px;
   top : 10px;
   padding : 8px;
   width : 56px;
   height : 42px; 
}

.imgeng:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

@media screen and (max-width: 990px)
{
    .imgeng{
        position: absolute;
        left : 0px;
        top : 0px;
        padding : 8px;
        width : 56px;
        height : 42px; 
     }

}

@media screen and (max-width: 640px)
{
    #messenger{
        display : none;
     }

}

@media screen and (max-width: 1080px) and (min-width: 768px)
{
    #messenger{
        display : none;
     }

}

@media screen and (max-width: 340px)
{
    .imgeng{
        object-fit: cover;
        position: absolute;
        left : 78vw;
        top : 45px;
        padding : 8px;
        width : 50px;
        height : 50px; 
        border-radius: 50px;
     }

}